<ion-view view-title="Gallery">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half"  collection-repeat="video in videos"   >
            <div ui-sref="app.profile"class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Where's Elsa?</h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
